@font-face {
  font-family: 'EuclidRegular';
  src: url('../assets/fonts/EuclidCircularRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidRegularItalic';
  src: url('../assets/fonts/EuclidCircularAMediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lavka';
  src: url('../assets/fonts/Lavka2021.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


