$color-text: #000000;
$gradient-main: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
$snow-purple-light: #A29BAE;
$snow-blue: #394869;
$snow-purple-dark: #4F2748;
$snow-charcoal: #1E1B1F;
$snow-white: #EBE9E7;

$font-main: 'EuclidRegular', sans-serif;
$font-acent: 'Lavka', sans-serif;

$font-size-base: 25rem;
$font-size-acent: 150rem;


